In [2]:
import pandas as pd

Muestra la forma del marco de datos.

BONIFICACIÓN: coloque todas las transformaciones de datos mencionadas anteriormente en una función.

In [3]:
df=pd.read_csv(r"C:\Users\marco\OneDrive\Desktop\ironhack\Files\marketing_customer_analysis.csv")
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [4]:
df.shape
print('Formato del DataFreme',df.shape)

Formato del DataFreme (10910, 26)

¿Qué columnas son numéricas?
¿Qué columnas son categóricas?

In [5]:
tipos_de_datos=df.dtypes
tipos_de_datos

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [6]:
colimnas_numericas = df.describe(include=['float','int'])
colimnas_numericas

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,10910.000000,10910.000000,10910.000000,10910.000000,10277.000000,10910.000000,10277.000000,10910.000000,10910.000000
mean,5454.500000,8018.241094,37536.284785,93.196059,15.149071,48.091934,0.384256,2.979193,434.888330
std,3149.590053,6885.081434,30359.195670,34.442532,10.080349,27.940675,0.912457,2.399359,292.180556
min,0.000000,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,2727.250000,4014.453113,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,271.082527
50%,5454.500000,5771.147235,33813.500000,83.000000,14.000000,48.000000,0.000000,2.000000,382.564630
75%,8181.750000,8992.779137,62250.750000,109.000000,23.000000,71.000000,0.000000,4.000000,547.200000
max,10909.000000,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [7]:
colimnas_categoricas = df.describe(include=['object'])
colimnas_categoricas

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Vehicle Type
count,10910,10279,10279,10910,10910,10910,10910,10910,10910,10910,10910,10910,10910,10910,10288,10288,5428
unique,9134,5,2,3,5,59,5,2,3,3,3,9,4,4,6,3,1
top,ID89933,California,No,Basic,Bachelor,1/10/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Four-Door Car,Medsize,A
freq,7,3552,8813,6660,3272,239,6789,5573,6902,6319,8128,4118,4483,4121,5212,7251,5428

Verificar y tratar con NaNvalores.

In [9]:
df_limpiado = df.dropna()
df_limpiado

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
13,13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
10903,10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [10]:
valores_nun = df_limpiado.isna().sum()
valores_nun

Unnamed: 0                       0
Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
Vehicle Type                     0
dtype: int64

In [11]:
valores_nun1 = df_limpiado.isnull()
valores_nun1

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10903,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10904,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10906,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10908,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df["Effective To Date"] = pd.to_datetime(df["Effective To Date"])

# Extraer el mes y guardarlo en una columna separada
df["Month"] = df["Effective To Date"].dt.month

# Filtrar los datos para mostrar solo el primer trimestre (enero, febrero y marzo)
filtered_data = df[df["Month"].isin([1, 2, 3])]

print(filtered_data)

       Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0         Basic   College        2011-02-18         Employed      M  ...
1         Basic   College        2011-01-18       Unemployed      F  ...
2         Basic  Bachelor        2011-02-10         Employed      M  ...
3      Extended   College        2011-01-11         Employed      M  ...
4       Premium  Bachelor        2011-01-17    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor        2011-01-19       Unemployed      F  ...
10906     Basic   College        2011-01-06         Employed      F  ...
10907  Extended  Bachelor        2011-02-06         Employed      F  ...
10908   Premium   College        2011-02-13         Employed      F  ...
10909     Basic  Bachelor        2011-01-08       Unemployed      M  ...

       Number of Policies     Policy Type        Policy  Renew Offer Type  \
0                       9  Corporate Auto  Corporate L3            Offer3
1                       1   Personal Auto   Personal L3            Offer4
2                       2   Personal Auto   Personal L3            Offer3
3                       2  Corporate Auto  Corporate L3            Offer2
4                       7   Personal Auto   Personal L2            Offer1
...                   ...             ...           ...               ...
10905                   7   Personal Auto   Personal L1            Offer3
10906                   6   Personal Auto   Personal L3            Offer2
10907                   2  Corporate Auto  Corporate L3            Offer1
10908                   6   Personal Auto   Personal L1            Offer1
10909                   3   Personal Auto   Personal L1            Offer4

       Sales Channel  Total Claim Amount  Vehicle Class  Vehicle Size  \
0              Agent          292.800000  Four-Door Car       Medsize
1        Call Center          744.924331  Four-Door Car       Medsize
2        Call Center          480.000000            SUV       Medsize
3             Branch          484.013411  Four-Door Car       Medsize
4             Branch          707.925645  Four-Door Car       Medsize
...              ...                 ...            ...           ...
10905            Web         1214.400000     Luxury Car       Medsize
10906         Branch          273.018929  Four-Door Car       Medsize
10907            Web          381.306996     Luxury SUV       Medsize
10908         Branch          618.288849            SUV       Medsize
10909            Web         1021.719397            SUV       Medsize

      Vehicle Type Month
0              NaN     2
1              NaN     1
2                A     2
3                A     1
4              NaN     1
...            ...   ...
10905            A     1
10906            A     1
10907          NaN     2
10908            A     2
10909          NaN     1

[10910 rows x 27 columns]

In [18]:
def analisis_consumidor(path):
    pd=pd.read_csv(path)
    forma=df.shape
    columnas=list(pd.colimns)
    pd1=pd1.rename=('un')